<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Edit Profession</div>
                <div class="card-body">
                    <form method="post" action="/profession/edit/{{ profession.id }}">
                        {{#if messages.error}}
                            <div class="alert alert-danger" role="alert">
                                {{ messages.error }}
                            </div>
                        {{/if}}
                        {{#if messages.success}}
                            <div class="alert alert-success" role="alert">
                                {{ messages.success }}
                            </div>
                        {{/if}}
                        <div class="mb-3">
                            <label for="name" class="form-label">Profession Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ profession.name }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Profession</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>